<%= form_with model: student do |f| %>

  <% if student.errors.any? %>
    <% student.errors.full_messages.each do |message| %>
      <p><%= message%></p>
    <% end %>
  <% end %>

  <div>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div>
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>
  <div>
    <%= f.label :date_of_birth %><br>
    <%= f.date_field :date_of_birth %>
  </div>
  <div>
    <%= f.label :local_address %><br>
    <%= f.text_field :local_address %>
  </div>
  <div>
    <%= f.label :permanent_address %><br>
    <%= f.text_field :permanent_address %>
  </div>
  <div>
    <%= f.label :permanent_contact_number %><br>
    <%= f.text_field :permanent_contact_number %>
  </div>
  <div>
    <%= f.label :alternate_contact_number %><br>
    <%= f.text_field :alternate_contact_number %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<%end%>